* {

}

.main {
  background: linear-gradient(rgb(91,87,115), rgba(0,0,0,1));
}

.header {
  height: 10vh;
  background-color: white;
}


.grid {
  margin-top: 100px;
}


.mapsearch {
  display: flex;
  height: 10vh;
}

.explore{
  background-color: black;
  color: white;
  flex: 0.1;

}

.explore > p  {
  font-weight: 200;
  font-size: 18px;
  text-align: center;
  padding-top: 25px;
}

.automap {
  width: 100%;

}

.auto {
 width: 100%;
  height: 10vh;
  background-color: white;
}

.house  {
  display: flex;
  padding: 50px;

}
