.bannar {
  height: 50vh;
  position: relative;
  background: url("https://images.unsplash.com/photo-1446776653964-20c1d3a81b06?ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")center center;
}


.bannar_info {
  background-color: black;
  color: white;
  padding-top: 25vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width:400px;
}


.bannar_info > p {
  font-weight: 200;
  font-size: 18px;
}
