.chats {
  background-color: white;
  max-width: 500px;
  border: 1px  solid lightgray;
  margin-bottom: 45px;
  margin-top: 100px;
}

.chat-image {
  width:100%;
  object-fit: contain;
  border-top: 1px  solid lightgray;
  border-bottom:  1px  solid lightgray;
}

.chats-header {
  align-items: center;
}

.chat-caption {
  margin: 10px;
}

.chat-caption > p {
  font-weight: 600;
}
