.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  border-bottom: 0.1px solid  gray	;
}

.header_center {
  color: white;
  font-weight: 100;
  font-size: 40px;
  align-items: center;
}

.header_right {


}

.app_signup {
  display: flex;
  
}
